.Apps {
  font-family: sans-serif;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#app-title {
  color: rgb(83, 169, 223);
  font-size: 50px;
  margin-top: 5%;
}

.btn-primary {
  background: lightblue;
  border-radius: 10px;
  margin: 10px;
}
.btn-success {
  margin: 5px 10px;
}

.btn-danger {
  margin: 5px;
}

input {
  border-radius: 5px;
}

#list {
  list-style: none;
}

#contain {
  background: #fff;
  border: 5px solid;
  border-radius: 25px;
  margin: 0 3px 0 3px;
}
