.Apps {
  font-family: sans-serif;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgb(224, 243, 243);
}

#app-title {
  color: lightskyblue;
  font-size: 50px;
}

.btn-primary {
  background: lightblue;
  border-radius: 25px;
  margin: 10px;
}

.btn-danger {
  width: 40px;
  height: 40px;
}

input {
  border-radius: 5px;
}

#list {
  list-style: none;
}

#contain {
  border: 5px solid;
  border-radius: 25px;
  margin: 0 100px 0 100px;
}
